<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>jsp20220923</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
  	<session-timeout>60</session-timeout>
  </session-config>
  
  <servlet>
  	<servlet-name>now</servlet-name>
    <servlet-class>example.NowServlet</servlet-class>
  </servlet>

  <servlet-mapping>
  	<servlet-name>now</servlet-name>
    <url-pattern>/now</url-pattern>
  </servlet-mapping>
  
   <servlet>
       <servlet-name>DBCPInit2</servlet-name>
       <servlet-class>jdbc.DBCPInit2</servlet-class>
       <init-param>
           <param-name>jdbcdriver</param-name>
           <param-value>com.mysql.jdbc.Driver</param-value>
       </init-param>
       
       <init-param>
           <param-name>jdbcUrl</param-name>
           <param-value>jdbc:mysql://localhost:3306/jsptest?characterEncoding=utf8</param-value>
       </init-param>
       <init-param>
           <param-name>dbUser</param-name>
           <param-value>jspexam</param-value>
       </init-param>
       <init-param>
           <param-name>dbPass</param-name>
           <param-value>jsppw</param-value>
       </init-param>
       <init-param>
           <param-name>poolName</param-name>
           <param-value>chap14</param-value>
       </init-param>
   </servlet> 
  <!--  --> 
   <servlet>
   	<servlet-name>servlet06</servlet-name>
   	<servlet-class>servlet.chap17.Servlet06</servlet-class>
   </servlet>
   
   <servlet-mapping>
   	<servlet-name>servlet06</servlet-name>
   	<url-pattern>/servlet6</url-pattern>
   </servlet-mapping>
   
   <!--/servlet7로 요청왔을 때 serlvet.chap17.Servlet07 실행  -->
   
   <servlet>
   	<servlet-name>servlet07</servlet-name>
   	<servlet-class>servlet.chap17.Servlet07</servlet-class>
   	<init-param>
   		<param-name>pw</param-name>
   		<param-value>1234</param-value>
   	</init-param>
   	<init-param>
   		<param-name>ip</param-name>
   		<param-value>2.255.1.99</param-value>
   	</init-param>
   	<init-param>
   		<param-name>userName</param-name>
   		<param-value>gomeesomee</param-value>
   	</init-param>
   </servlet>
   
   <servlet-mapping>
   	<servlet-name>servlet07</servlet-name>
   	<url-pattern>/servlet7</url-pattern>
   </servlet-mapping>
   
   
   <!-- 필터 연습1 -->
   <filter>
        <filter-name>NullParameter</filter-name>
        <filter-class>chap19.NullParameterFilter</filter-class>
        <init-param>
            <param-name>parameterNames</param-name>
            <param-value>id,name</param-value>
        </init-param>
    </filter>
    
    <filter-mapping>
        <filter-name>NullParameter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    
    
    <!--필터 연습2  -->
    <filter>
        <filter-name>LoginCheck</filter-name>
        <filter-class>chap19.LoginCheckFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>LoginCheck</filter-name>
        <url-pattern>/chapter19/book/*</url-pattern>
    </filter-mapping>
    
    
    <!-- 필터 연습  -->
<!-- 	<filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>chap19.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>utf-8</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>  -->
    
  <!-- 필터 설정 -->
  <filter>
  	<filter-name>filter02</filter-name>
  	<filter-class>filter.chap19.Filter02</filter-class>
  </filter>
  
  <filter>
  	<filter-name>filter03</filter-name>
  	<filter-class>filter.chap19.Filter03</filter-class>
  </filter>
  
  <filter>
  	<filter-name>filter04</filter-name>
  	<filter-class>filter.chap19.Filter04</filter-class>
  </filter>
  
  <filter>
  	<filter-name>filter05</filter-name>
  	<filter-class>filter.chap19.Filter05</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>filter03</filter-name>
  	<url-pattern>/Servlet10</url-pattern>
  	<url-pattern>/Servlet11</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
  	<filter-name>filter02</filter-name>
  	<url-pattern>/Servlet10</url-pattern>
	<url-pattern>/filter/*</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
  	<filter-name>filter04</filter-name>
  	<url-pattern>/Servlet10</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
  	<filter-name>filter05</filter-name>
  	<url-pattern>/Servlet11</url-pattern>
  	<url-pattern>/Servlet12</url-pattern>
  	<!-- <url-pattern>/*</url-pattern> -->
  </filter-mapping>    
    
<!-- 	<listener>
		<listener-class>jdbc.DBCPInitListener</listener-class>
	</listener>
	
	<context-param>
		<param-name>poolConfig</param-name>
		<param-value>
		jdbcdriver=com.mysql.jdbc.Driver
		jdbcUrl= jdbc:mysql://localhost:3306//guestbook?characterEncoding=utf8
		dbUser=jspexam
		dbPass=jsppw
		poolName=guestbook
		</param-value>
	</context-param> -->
	
	<listener>
		<listener-class>listener.chap20.ServletContextListener01</listener-class>
	</listener>
	
	<listener>
		<listener-class>listener.chap20.ServletContextListener02</listener-class>
	</listener>


    <listener>
  		<listener-class>listener.chap20.ServletContextListener03</listener-class>
  	</listener>
  
  <!-- 초기화 파라미터 설정 : 어플리케이션 실행시 필요한 정보 작성 -->
  	<context-param>
  		<param-name>init-param1</param-name>
  		<param-value>init-value1</param-value>
  	</context-param>
  	
  	<context-param>
  		<param-name>init-param2</param-name>
  		<param-value>init-value2</param-value>
  	</context-param>
</web-app>